[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sdcLog"]
	path = sdcLog
	url = https://github.com/matthiasgomolka/sdclog
[submodule "simfinapi"]
	path = simfinapi
	url = https://github.com/matthiasgomolka/simfinapi
